.timeline {
  display: flex;
  overflow-x: auto;
}

.event {
  margin-right: 20px;
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px; /* adjust as needed */
  height: 100vh;
  overflow-y: auto;
  background-color: #f5f5f5; /* adjust as needed */
  padding: 20px;
  box-sizing: border-box;
}

svg {
  margin-left: 5%;

  line {
    stroke: black;
    padding-left: 5px;
  }

  circle {
    stroke: black;
    fill: white;
    cursor: pointer;

    &:hover {
      fill: lightgray;
    }
  }
}
