<dialog #locationDialog>
  <h2>Find or Create Location</h2>
  <p>You can add form elements and text here.</p>
  <form method="dialog" [formGroup]="locationForm">
    <label for="country">Country</label>
    <input type="text" formControlName="country" placeholder="USA, UK, Italy, etc.">
    <label for="state">State</label>
    <input type="text" formControlName="state" placeholder="Missouri, Texas, etc.">
    <label for="city">City</label>
    <input type="text" formControlName="city" placeholder="Cape Girardeau, Houston etc.">
    <menu>
      <button (click)="closeDialog()">Cancel</button>
      <button value="confirm" type="submit" (click)="locationSubmit()">Confirm</button>
    </menu>
  </form>
</dialog>
<dialog #startDateDialog>
  <h2>Find or Create Event Date</h2>
  <p>You can add form elements and text here.</p>
  <form method="dialog" [formGroup]="eventDateForm">
    <label for="year">Year</label>
    <input type="number" placeholder="2024" formControlName="year">
    <label for="month">Month</label>
    <input type="number" placeholder="8" formControlName="month">
    <label for="day">Day</label>
    <input type="number" placeholder="26" formControlName="day">
    <label for="isAD">AD?</label>
    <input type="checkbox" formControlName="is_ad">
    <label for="modifier">Modifier</label>
    <input type="text" placeholder="Before, After, etc." formControlName="modifier">
    <menu>
      <button (click)="closeDialog()">Cancel</button>
      <button value="confirm" type="submit" (click)="startDateSubmit()">Confirm</button>
    </menu>
  </form>
</dialog>
<dialog #endDateDialog>
  <h2>Find or Create Event Date</h2>
  <p>You can add form elements and text here.</p>
  <form method="dialog" [formGroup]="eventDateForm">
    <label for="year">Year</label>
    <input type="number" placeholder="2024" formControlName="year">
    <label for="month">Month</label>
    <input type="number" placeholder="8" formControlName="month">
    <label for="day">Day</label>
    <input type="number" placeholder="26" formControlName="day">
    <label for="is_ad">AD?</label>
    <input type="checkbox" formControlName="is_ad">
    <label for="modifier">Modifier</label>
    <input type="text" placeholder="Before, After, etc." formControlName="modifier">
    <menu>
      <button (click)="closeDialog()">Cancel</button>
      <button value="confirm" type="submit" (click)="endDateSubmit()">Confirm</button>
    </menu>
  </form>
</dialog>
<dialog #eventDateDialog>
  <h2>Find or Create Event Date</h2>
  <p>You can add form elements and text here.</p>
  <form method="dialog" [formGroup]="eventDateForm">
    <label for="year">Year</label>
    <input type="number" placeholder="2024" formControlName="year">
    <label for="month">Month</label>
    <input type="number" placeholder="8" formControlName="month">
    <label for="day">Day</label>
    <input type="number" placeholder="26" formControlName="day">
    <label for="is_ad">AD?</label>
    <input type="checkbox" formControlName="is_ad">
    <label for="modifier">Modifier</label>
    <input type="text" placeholder="Before, After, etc." formControlName="modifier">
    <menu>
      <button (click)="closeDialog()">Cancel</button>
      <button value="confirm" type="submit" (click)="eventDateSubmit()">Confirm</button>
    </menu>
  </form>
</dialog>


