<nav style="background-color: darkgrey;" [class.sidebar-opened]="sidebarOpened">
  <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
  <a routerLink="/main-topic-form" routerLinkActive="active-link">Main Topic Form</a>
  <a routerLink="/timeline-event-form" routerLinkActive="active-link">Timeline Event Form</a>
  <a routerLink="/timesuck-episode-form" routerLinkActive="active-link">Timesuck Episode Form</a>
    <!-- Add more links as needed -->
</nav>
