<nav [class.sidebar-opened]="sidebarOpened">
  <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
  @if(!authService.isLoggedIn()) {
    <a routerLink="login" routerLinkActive="active-link">Login</a>
  }
  <a routerLink="/timeline" routerLinkActive="active-link">Timeline</a>
  @if(authService.isLoggedIn()){
    <a routerLink="/main-topic-form" routerLinkActive="active-link">Main Topic Form</a>
    <a routerLink="/timeline-event-form" routerLinkActive="active-link">Timeline Event Form</a>
    <a routerLink="/timesuck-episode-form" routerLinkActive="active-link">Timesuck Episode Form</a>
    <a (click)="authService.logout()" style="cursor: pointer;">Logout</a>
  }
    <!-- Add more links as needed -->
</nav>
