nav {
  background-color: rgb(21, 21, 21);
  display: flex;
  justify-content: space-around;
  transition: width 0.3s ease;
  width: 100%;
  padding: 15px 0;

  a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;

    &.active-link {
      color: #4caf50;
    }

    &:hover {
      color: #4caf50;
    }
  }
}

nav.sidebar-opened {
  width: calc(100% - 300px); /* adjust as needed */
}
