<div class="container">
  <h1>New Main Topic</h1>
  <form [formGroup]="mainTopicForm" (ngsubmit)="onSubmit()" class="form">
    <label for="name">Name</label>
    <input type="text" formControlName="name" id="name" class="form-control" />
    <label for="location">location</label>
    <button (click)="openLocationModal()">Location</button>

    <label for="category">Category</label>
    <select formControlName="category_id" id="category" class="form-control">
      @for(category of categories; track category.id) {
        <option [value]="category.id">{{category.name}}</option>
      }
    </select>
    <label for="startDate">Start Date</label>
    <button (click)="openStartDateModal()">Event Date</button>
    <label for="endDate">End Date</label>
    <button (click)="openEndDateModal()">Event Date</button>
    <button type="submit" (click)="checkValue()">Submit</button>
  </form>

  <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
    <input type="text" formControlName="name" placeholder="Category Name"/>
    <button type="submit">Create Category</button>
  </form>
</div>

<app-modal (locationID)="locationID = $event" (startDateID)="startDateID = $event" (endDateID)="endDateID = $event"/>
