<div class="container">
  <h1>New Main Topic</h1>
  <form [formGroup]="mainTopicForm" (ngsubmit)="onSubmit()" class="form">
    <div class="button-container">
      <label for="name">Name</label>
      <input type="text" formControlName="name" id="name" class="form-control" />
    </div>
    <div class="button-container">
      <label for="location">Location</label>
      <button (click)="openLocationModal()">Add or Find Location</button>
    </div>
    <div class="button-container">
      <label for="category">Category</label>
      <select formControlName="category_id" id="category" class="form-control">
        @for(category of categories; track category.id) {
          <option [value]="category.id">{{category.name}}</option>
        }
      </select>
    </div>
    <div class="button-container">
      <label for="startDate">Start Date</label>
      <button (click)="openStartDateModal()">Event Date</button>
    </div>
    <div class="button-container">
      <label for="endDate">End Date</label>
      <button (click)="openEndDateModal()">Event Date</button>
    </div>
    <button type="submit" (click)="checkValue()" style="margin-bottom: 15px;">Submit</button>
  </form>

  <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
    <input type="text" formControlName="name" placeholder="Category Name"/>
    <button type="submit" style="margin-left: 30px;">Create Category</button>
  </form>
</div>

<app-modal (locationID)="locationID = $event" (startDateID)="startDateID = $event" (endDateID)="endDateID = $event"/>
